/* your styles will go here!! */

/* global */

body {
    margin: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(5, 176, 231, 0.42) 100%);
}

/* navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}


nav {
    padding: 10px 0;
}

nav a{
    color: #0075a7;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px 30px;
}

nav a:hover, nav a:focus {
    background: white;
    border-color: red;
}

#logo img {
    width: 95px;
    margin: 20px;
}

/* homepage */

.home main {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home img {
  max-width: 600px;  
  width: 100%;
}


h1 {
    color: #16B0F2;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

h2 {
    color: red;
}

.💙 {
    color: #D316F2; 
    font-family: Rubik;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}